doctype html 
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main 
            header
                nav
                    ul
                        if loggedIn
                            li     
                                a(href="/login") Log Out  
                            li 
                                a(href="/my-profile") #{loggedInUser.name}'s profile
                        else 
                            li     
                                a(href="/login") Login 
                            li 
                                a(href="/join") Join
                        li     
                            a(href="/") Home 
                        li 
                            a(href="/search") Search 
                       
                        li
                            a(href="/videos/upload") upload
                h1=pageTitle

                
            block content
        include partials/footer.pug