doctype html 
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main 
            header
                nav
                    ul
                        li
                            a(href="/videos/upload") upload  
                            a(href="/login") Login 
                            a(href="/") Home 


                h1=pageTitle

                
            block content
        include partials/footer.pug