extends base.pug



block content
    h4 Change Title of video
    form(method="POST")
        input(name="title" placeholder="video title" value=video.title,required)
        input(placeholder="Description",required,type="text", value=video.description ,name="description" minlength=20)
        input(placeholder="Hashtags , seperated by comma" ,value=video.hashtags.join(), required,type="text" name="hashtags")
        input(value="Save", type="submit")
