extends base
include mixin/video

block content 
    form( method="get").search_form
        input(placeholder="search by title" type="text", name="keyword")
        button 
            i.fas.fa-search 
    div.video_grid 
        each video in videos
            +video(video)