header
    a(href="/")
        i.fab.fa-youtube  
    nav
            ul
                if loggedIn
                    li 
                        a(href="/search")
                            i.fas.fa-search
                    li 
                        a(href=`/users/${loggedInUser._id}`) My Profile  
                    li  
                        a(href="/users/edit") Edit Profile 
                    li
                        a(href="/videos/upload") Upload
                    li     
                        a(href="/users/logout") Log Out  
                    li 
                        a(href=`/users/${loggedInUser._id}`)
                            if loggedInUser.socialOnly
                                img.header-avatar(src=loggedInUser.avatarUrl)
                            else 
                                img.header-avatar(src=loggedInUser.avatarUrl)
                else 
                    li 
                        a(href="/search")
                            i.fas.fa-search
                    li     
                        a(href="/login") Login 
                    li 
                        a(href="/join") Join